{% extends 'core/base.html' %}

{% block title %}CONTACTOS{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contactt-pg.jpg' %}{% endblock %}

{% block headers %} 
    <h1>CONTACTOS</h1>
    <span class="subheading">PARA PEDIDOS NOS PUEDES CONTACTAR:</span>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>PARA PEDIDOS NOS PUEDES CONTACTAR:</p>
          <p>TELÉFONO: <a href="tel:+593962794253">+593962794253</a></p>
          <p>EMAIL: <a href="mailto:marielaalcivar292@gmail.com">delidelicakes@gmail.com</a></p>
        </div>
      </div>
    </div>
{% endblock %}
